# Python Environments
venv/
__pycache__/
*.pyc

# Rust Compilation Artifacts
src-rust/target/
Cargo.lock

# Compiled Native Libraries
*.so
*.dylib

# Target Intelligence Database
data/
*.db

# Environment Variables
.env